<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThrowThePointerToMenubar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>652E4A011C2E7556000E17BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>652E4A121C2E7556000E17BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>652E4A1D1C2E7556000E17BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
